<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Simple CRUD dengan Nodejs dan Mysql</h1>
        <p>CRUD Keluarga</p>
      </div>

      <div class="row">
        <% keluargas.forEach(function(keluarga) { %>
        <div class="col-sm-6 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= keluarga.id %></h5>
              <p class="card-text"><%= keluarga.name %></p>
              <!-- <a href="/read/<%= keluarga.id %>" class="btn btn-primary"
                >Detail</a
              > -->
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
